<!--chooseQuiz.html-->
<style>
    .quiz-logo {
        width: 150px !important;
        height: 120px !important;
    }

    .pad-20 {
        padding: 20px;
    }
</style>

<div class="jumbotron" ng-controller="QuizListCtrl">
    <h2 class="text-center col-md=9 ">Choose a quiz from the menu below to get started.</h2>

    <form class="searchbox form-inline well well-md clearfix row-md=9">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" placeholder="Search" class="form-control" ng-model="QuizListCtrl.search" />
    </form>

    <br />
    <div class="row">
        <div class="col-sm-12 pad-20" ng-repeat="quiz in quizzes | filter:QuizListCtrl.search">
            <div class="row">
                <div class="col-sm-2">
                    <img ng-src="{{quiz.logo}}" class="img img-responsive quiz-logo" />
                </div>
                <div class="col-sm-9">
                    <h4>{{quiz.title}}</h4>
                    <p>{{quiz.description}}</p>
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-default" ui-sref="Start Quiz" ng-click="setUrlString(quiz.dataUrl)">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>
</div>