<!-- compare.html -->
<style>
    table {
    width: 60%;
    }
    th {
    height: 50px;
    }
    td {
    height: 50px;
    }
    .table{
    background-color: darkgray;
    }
</style>

<div class="jumbotron text-center">
    <p>

    <div ng-hide="checkSize()">
        You haven't made any selection(s).
    </div>

    <div class="table" ng-show="checkSize()">
        <table align="center" >
            <tr>
                <th>Element name</th>
                <th ng-repeat="element in elements">{{element.name}}</th>
            </tr>
            <tr>
                <td>Element number</td>
                <td ng-repeat="element in elements">{{element.number}}</td>
            </tr>

            <tr>
                <td>Element symbol</td>
                <td ng-repeat="element in elements">{{element.symbol}}</td>
            </tr>

            <tr>
                <td>Atomic weight of element</td>
                <td ng-repeat="element in elements">{{element.atomic_weight}}</td>
            </tr>

            <tr>
                <td>Melting point</td>
                <td ng-repeat="element in elements">{{element.melt}}</td>
            </tr>

            <tr>
                <td>Boiling point</td>
                <td ng-repeat="element in elements">{{element.boil}}</td>
            </tr>

            <tr>
                <td>Ionisation Energy of Element</td>
                <td ng-repeat="element in elements">{{element.ionisation}}</td>
            </tr>

            <tr>
                <td>Element number</td>
                <td ng-repeat="element in elements">{{element.number}}</td>
            </tr>

        </table>
    </div>

    </p>
        <div>
            Go back to <a ui-sref="View Table" ng-click="clearArray()">TABLE?</a>
        </div>
</div>