<!--table.html-->
<style>
    #periodic_table {
        width: 100%;
        min-width: 600px;
    }
    table {
        width: 60%;
    }
    th {
        height: 50px;
    }
    td {
        height: 50px;
    }
    .table{
        background-color: darkgray;
    }
    /*.grp1 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp2 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp3 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp4 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp5 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp6 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp7 {*/
        /*color: cyan;*/
    /*}*/
    /*.grp8 {*/
        /*color: cyan;*/
    /*}*/
</style>

<div class="jumbotron">
    <h2 class="text-center">Choose two elements from the table to get started.</h2>

    <br />
    <section id="periodic_table" class="text-center" align="center">
        <div class="table" align="center">
            <table>
                <tr>
                    <th class="grp1">Group 1</th>
                    <th class="grp2">Group 2</th>
                    <th class="grp3">Group 3</th>
                    <th class="grp4">Group 4</th>
                    <th class="grp5">Group 5</th>
                    <th class="grp6">Group 6</th>
                    <th class="grp7">Group 7</th>
                    <th class="grp8">Group 8</th>
                </tr>
                <tr>
                    <td class="grp1">
                        <a class="btn btn-default"  ng-click="addElementUrl('elements/hydrogen.json')">{{elements[count].symbol}} </a>
                    </td>
                    <td class="grp2"></td>
                    <td class="grp3"></td>
                    <td class="grp4"></td>
                    <td class="grp5"></td>
                    <td class="grp6"></td>
                    <td class="grp7"></td>
                    <td class="grp8">
                        <a class="btn btn-default" ng-click="addElementUrl('elements/helium.json')">{{elements[count+1].symbol}}</a>
                    </td>
                </tr>
                
                <tr>
                    <td class="grp1">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+2].symbol}}</a>
                    </td>
                    <td class="grp2">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+3].symbol}}</a>
                    </td>
                    <td class="grp3">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+4].symbol}}</a>
                    </td>
                    <td class="grp4">
                        <a class="btn btn-default" ng-click="addElementUrl()">{{elements[count+5].symbol}}</a>
                    </td>
                    <td class="grp5">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+6].symbol}}</a>
                    </td>
                    <td class="grp6">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+7].symbol}}</a>
                    </td>
                    <td class="grp7">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+8].symbol}}</a>
                    </td>
                    <td class="grp8">
                        <a class="btn btn-default" ng-click="addElementUrl('')">{{elements[count+9].symbol}}</a>
                    </td>
                </tr>

            </table>    
        </div>  
    </section> 

    <div align="center"> 
        <a ui-sref="Compare" class="btn btn-default">Compare</a>
    </div>   
        
</div>