<!--chooseQuiz.html-->
<style>

    #periodic_table {
        width: 100%;
        min-width: 600px;
    }

    #periodic_table > div {
        margin-bottom: 2.5%;
    }

    table {
        width: 100%;
    }

    th {
        height: 50px;
    }

    td {
        height: 50px;
    }

    .group1 {
        border-color: red;
        background-color: green;
    }

</style>

<div class="jumbotron" ng-controller="TableCtrl">
    <h2 class="text-center ">Choose two elements from the table to get started.</h2>

    <br />

    <section id="periodic_table" class="text-center" align="center">
        <div align="center">
            <table>
                <tr>
                    <th class="grp1">Group 1</th>
                    <th class="grp2">Group 2</th>
                    <th class="grp3">Group 3</th>
                    <th class="grp4">Group 4</th>
                    <th class="grp5">Group 5</th>
                    <th class="grp6">Group 6</th>
                    <th class="grp7">Group 7</th>
                    <th class="grp8">Group 8</th>
                </tr>
                <tr>
                    <td class="grp1"><a class="btn btn-default">H</a></td>
                    <td class="grp2"></td>
                    <td class="grp3"></td>
                    <td class="grp4"></td>
                    <td class="grp5"></td>
                    <td class="grp6"></td>
                    <td class="grp7"></td>
                    <td class="grp8"><a class="btn btn-default">He</a></td>
                </tr>
                
                <tr>
                    <td class="grp1"><a class="btn btn-default">Li</a></td>
                    <td class="grp2"><a class="btn btn-default">Be</a></td>
                    <td class="grp3"><a class="btn btn-default">B</a></td>
                    <td class="grp4"><a class="btn btn-default">C</a></td>
                    <td class="grp5"><a class="btn btn-default">N</a></td>
                    <td class="grp6"><a class="btn btn-default">O</a></td>
                    <td class="grp7"><a class="btn btn-default">F</a></td>
                    <td class="grp8"><a class="btn btn-default">Ne</a></td>
                </tr>
                
                <tr>
                    <td class="grp1"><a class="btn btn-default">Na</a></td>
                    <td class="grp2 "><a class="btn btn-default">Mg</a></td>
                    <td class="grp3"><a class="btn btn-default">Al</a></td>
                    <td class="grp4"><a class="btn btn-default">Si</a></td>
                    <td class="grp5"><a class="btn btn-default">P</a></td>
                    <td class="grp6"><a class="btn btn-default">S</a></td>
                    <td class="grp7"><a class="btn btn-default">Cl</a></td>
                    <td class="grp8"><a class="btn btn-default">Ar</a></td>
                </tr>

                <tr>
                    <td class="grp1"><a class="btn btn-default">K</a></td>
                    <td class="grp2"><a class="btn btn-default">Ca</a></td>
                    <td class="grp3"></td>
                    <td class="grp4"></td>
                    <td class="grp5"></td>
                    <td class="grp6"></td>
                    <td class="grp7"></td>
                    <td class="grp8"></td>
                </tr>
            </table>    
        </div>  
    </section> 

    <div align="center"> 
        <a ui-sref="Compare" class="btn btn-default">Compare</a>
    </div>   
        
</div>